*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    width: 100%;
    overflow: hidden;
}
#main{
    height: 100%;
    width: 100%;
    
    background-image: url(/main\ back.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;

    overflow-y: auto;
    scroll-snap-type: y mandatory;


}
#main::-webkit-scrollbar {
  display: none;
}
.page{
    height: 100vh;
    width: 100%;

    scroll-snap-align: start;

    border: 1px solid rgba(255, 255, 255, 0.338);
}
#page-1{
   background-image: linear-gradient(to top, #0000006a 0%, #69beff31 100%);
}
#page-2{
    background-image: linear-gradient(to bottom, #ffecd23b  0%, #ffecd200 100%);
    backdrop-filter: blur(5px);
    display: flex;
    flex-direction: row;
}

#calender-pic-holder{
    height: 100%;
    width: 25%;
}
#news{
    height: 100%;
    width: 75%;


    display: flex;
    align-items:end;
    justify-content: center;
    flex-direction: row;
}
#news-box{
    height: 70%;
    width: 90%;
    border: 1px solid rgba(255, 255, 255, 0.633);
    border-radius: 10px 10px 0 0;
    padding: 10px;
    gap: 60px;
    box-shadow: 
                0 0 10px rgba(255, 203, 203, 0.338) ,
                inset 0 0 5px rgba(255, 255, 255, 0.443);

    display: flex;
    flex-direction: column;

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    overflow-y: auto;
    overflow-x: hidden;

}

#news-box::-webkit-scrollbar {
  display: none;
}

#weather-box{
    height: 60%;
    width: 100%;
    border:#ffffffa5 1px solid;
}

#calender{
    border: 1px solid rgba(255, 255, 255, 0.338);
    backdrop-filter:blur(1px);
    box-shadow: 
                0 0 10px rgba(255, 203, 203, 0.338) ,
                inset 0 0 5px rgba(255, 255, 255, 0.443);

    height: 40%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(7, 1fr);
    gap: 4px;
    padding:2px;
}

.cell{
    background-image: url(/calender.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;

    display: flex;
    align-items: center;
    justify-content: center;

    font-weight: bold;

    font-family: 'Courier New', Courier, monospace;
}

.week-days {
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;

    display: flex;
    align-items: center;
    justify-content: center;
}
#page1-holder{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
}
#search-engines-holder{
    backdrop-filter: blur(1px);

    height: 100%;
    width: 60%;

    display: flex;
    justify-content: space-evenly;
    flex-direction: column;

}
#appANDclockHolder{
    height: 100%;
    width: 40%;


    display: flex;
    flex-direction: column;
}
.search-engines {
    height: 12%;
    
    max-width: 1000px;
    width: 100%;
    min-width: 700px;

    display: flex;
    justify-content: flex-start;
    align-items: center; 
    flex-direction: row;
    gap: 5px;
    padding: 0.5rem;
}

.search-icons {
    max-width: 30%;
    max-height: 40%;
    border-radius: 50%;
    border: 2px solid rgb(47, 130, 255);
}

.search-bar {
    height: 50%;
    width: 70%;
    text-align: center;
    background-color: rgba(125, 251, 255, 0.877);
    backdrop-filter: blur(10px);
    border: 2px solid rgb(255, 191, 81);
    
    
    border-radius: 2rem;
    padding:0.7rem;
    color: #000000;
    font-weight:bolder;
    resize: none; 
    outline: none;
    overflow-y: hidden;
    overflow-x: auto;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.2rem;
}


#clock-holder{

    height: 40%;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

#app-holder{

    height: 60%;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}


#clock{
    font-family: 'Courier New', Courier, monospace;
    font-size: 5rem;
    color: #ffffff;
    text-shadow: 0 0 20px rgba(203, 255, 98, 0.834);
    text-decoration:underline;
    text-decoration-color: #ff3bd8b0;
    text-decoration-thickness: 2px;
}

#colon {
    animation: blink 1s infinite;
}

@keyframes blink {
    0%{
        color: rgb(255, 0, 0);
    }
    25% {
        color: rgba(255, 0, 0, 0.308);
    }
    50% {
        color: rgba(255, 0, 0, 0.488);
    }
    100% {
        color: transparent;
    }
}



.news-card {
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(4px);
    border: 1px solid rgba(255, 255, 255, 0.453);
    border-radius: 12px;
    padding: 0.5rem;
    color: #fff;
    font-family: sans-serif;
    min-height: 100px;

    text-align: center;
}

.news-card a {
    color: #ff8c00;
    text-decoration: none;
}
.news-card:hover {
    box-shadow: 0 0 3px rgb(255, 140, 0);
    scale: 0.99;
}
.news-card h3{
    color: #c6ffce;
}